body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #121212;
    color: #fff;
    font-family: 'Orbitron', monospace;
}

#container {
    text-align: center;
}

#startBtn {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #1db954;
    border: none;
    border-radius: 8px;
    color: white;
}

#p5-container {
    margin-bottom: 20px; /* Espacio entre cubo y timer */
}

#timer {
    font-size: 48px; 
    font-family: 'Orbitron', monospace; /* Aplicamos la fuente al timer */
}
